body {
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App .App-header {
  color: #fafbfd;
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
}
.App .App-footer {
  text-align: center;
  margin: 30px 0;
  color: #fafbfd;
}

.App .App-footer a {
  color: #fafbfd;
  text-decoration: none;
  font-weight: bold;
}
